@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

header,
section {
  margin-bottom: 135px;
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-md {
  margin-bottom: 24px;
}

.mb-lg {
  margin-bottom: 32px;
}

.header {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/banner/banner3.png");
  background-size: cover;
}

.header-content {
  position: absolute;
  right: 230px;
  top: 216px;
  max-width: 525px;
  text-align: right;
  color: #fff;
}

.heading-primary {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}

.description {
  font-size: 16px;
  line-height: 26px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #005fac;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 5px;
}

/* main */
.main {
  max-width: 1140px;
  margin: 0 auto;
}

.failure-columns {
  display: flex;
  align-items: center;
  gap: 100px;
}

.failure-img {
  width: 451px;
  /* height: 898px; */
}

.failure-content {
  max-width: 416px;
}

.heading-secondary {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.failure-lists {
  list-style: none;
}

.failure-lists li {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #444343;
  font-size: 16px;
  line-height: 26px;
}

.material-symbols-outlined {
  color: #16d887;
  width: 24px;
  height: 24px;
}

.section-plans {
  text-align: center;
}

.plans-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.plan-img {
  width: 92.958px;
  height: 92.958px;
  margin-bottom: 25px;
}

.plan-title {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.plan-action {
  color: #737272;
  font-size: 25px;
  font-weight: 500;
}

.section-cta {
  padding: 60px 64px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #005fac, rgba(0, 95, 172, 0)),
    url("../images/watch.png");
  background-position: center;
  background-size: cover;
}

.cta-content {
  max-width: 500px;
}

.cta-content h2 {
  color: #fff;
}

/* footer */
.footer {
  padding: 130px 230px;
  background: #151414;
  display: flex;
  gap: 330px;
}

.footer a {
  text-decoration: none;
}

.future-col {
  flex-basis: 50%;
}

.future-heading {
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 28px;
}

.future-col p {
  color: #ccc;
}

.future-contact a {
  display: inline-block;
  color: #ccc;
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-link img {
  width: 45px;
  height: 45px;
}

.subscribe-col {
  flex-basis: 50%;
}

.subscribe-title {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.subscribe-form input {
  display: block;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 18px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-bottom: 16px;
}

.subscribe-form {
  max-width: 325px;
}

.subscribe-form input::placeholder {
  color: #f3f3f3;
  font-size: 18px;
}

.subscribe-form input:focus {
  outline: none;
}

.subscribe-form button {
  border: none;
  outline: none;
  padding: 20px 35px;
  color: #fff;
  background: #005fac;
  border-radius: 8px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
